# Python
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
backend/.env

# Node.js
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
frontend/.next/
build/
dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp

logs